/*
/.**

!/.config/
!/.config/nvim/
!/.config/nvim/_init.vim
!/.config/nvim/init.lua
!/.config/nvim/rc/
!/.config/nvim/rc/**
!/.config/nvim/lua/
!/.config/nvim/lua/**
!/.config/nvim/plugin/
!/.config/nvim/plugin/**
/.config/nvim/plugin/packer_compiled.lua
!/.config/nvim/snippets/
!/.config/nvim/snippets/*
!/.config/git/
!/.config/git/**
!/.config/tig/
!/.config/tig/*
!/.config/tmux/
!/.config/tmux/*
!/.config/zsh/
!/.config/zsh/**
!/.config/sheldon/
!/.config/sheldon/**
!/.config/wezterm/
!/.config/wezterm/**
/.config/wezterm/localconf.lua
/.config/wezterm/background/settings.lua
/.config/wezterm/background/img/**
!/.config/wezterm/background/img/background.png
!/.config/lazygit/
!/.config/lazygit/config.yml
/.config/zsh/.zcompdump
!/.vimrc
!/.vim/
!/.vim/*.toml
!/.vim/rc/
!/.vim/rc/**
!/.vim/plugins/
!/.vim/plugins/**
!/.bash_aliases
!/.zshenv
!/install.sh
!/install_tools.sh
!/installer/
!/installer/**
!/.windows/
!/.windows/**

!.gitignore
