/*
/.**

!/.config/
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/nvim/rc/
!/.config/nvim/rc/**
!/.vimrc
!/.vim/
!/.vim/*.toml
!/.vim/rc/
!/.vim/rc/**
!/.bash_aliases
!/.tmux.conf
!/.zshrc
!/.tigrc
!/install_tools.sh
!/installer/
!/installer/**

!.gitignore
