/*
/.**

!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/nvim/snippets/
!/.config/nvim/snippets/*
!/.config/nvim_sub/
!/.config/nvim_sub/**
!/.config/vsnip/
!/.config/vsnip/**
!/.config/git/
!/.config/git/**
!/.config/tig/
!/.config/tig/*
!/.config/tmux/
!/.config/tmux/*
!/.config/markdownlint/
!/.config/markdownlint/option.json
!/.config/zsh/
!/.config/zsh/**
!/.config/sheldon/
!/.config/sheldon/**
!/.config/ChatGPT/
!/.config/ChatGPT/**
!/.config/wezterm/
!/.config/wezterm/**
!/.config/denippet/
!/.config/denippet/**
!/.config/dict/
!/.config/dict/**
!/.config/mise/
!/.config/mise/**
/.config/wezterm/localconf.lua
/.config/wezterm/background/settings.lua
/.config/wezterm/background/img/**
!/.config/wezterm/background/img/background.png
!/.config/lazygit/
!/.config/lazygit/config.yml
/.config/zsh/.zcompdump
!/scripts
!/scripts/**
!/.vimrc
!/.vim/
!/.vim/*.toml
!/.vim/rc/
!/.vim/rc/**
!/.vim/config/
!/.vim/config/**
!/.vim/dein/
!/.vim/dein/**
!/.vim/plugins/
!/.vim/plugins/**
!/.bash_aliases
!/.zshenv
!/install.sh
!/install_tools.sh
!/installer/
!/installer/**
!/.windows/
!/.windows/**
!/trial/
!/trial/**
!.stylua.toml
!.luarc.json

!.gitignore
